<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge" />

  <title>회원가입</title>
  <link rel="icon" type="image/png" href="/img/favicon.png" />

  <!-- Google Tag Manager -->
  <script>
      ;(function (w, d, s, l, i) {
        w[l] = w[l] || []
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' })
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : ''
        j.async = true
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
        f.parentNode.insertBefore(j, f)
      })(window, document, 'script', 'dataLayer', 'GTM-KQHJPZP')
    </script>
  <!-- End Google Tag Manager -->

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:600,700,800,900" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet"/>
  <!-- Core CSS -->
  <link rel="stylesheet" href="/css/app.css" />
  <link rel="stylesheet" href="/css/core.css" />
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KQHJPZP" height="0" width="0" style="display: none; visibility: hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="pageloader"></div>
<div class="infraloader is-active"></div>

<div class="signup-wrapper">

  <!--Fake navigation-->
  <div class="fake-nav">
    <a th:href="${urls.MAIN_PAGE}" class="logo">
      <img class="light-image" src="/img/vector/logo/friendkit-bold.svg" width="112" height="28" alt=""/>
      <img class="dark-image" src="/img/vector/logo/friendkit-white.svg" width="112" height="28" alt=""/>
    </a>
  </div>

  <div class="container">
    <!--Container-->
    <div class="login-container is-centered">
      <div class="columns is-vcentered">
        <div class="column">
          <h2 class="form-title has-text-centered">Hey there!</h2>
          <h3 class="form-subtitle has-text-centered">
            회원가입을 시작해보세요.
          </h3>

          <!--Form-->
          <div class="login-form">
            <div class="form-panel">
              <div class="columns is-multiline">
<!--                <div class="column is-6">-->
<!--                  <div class="field">-->
<!--                    <label>First Name</label>-->
<!--                    <div class="control">-->
<!--                      <input type="text" class="input" placeholder="id"/>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <div class="column is-6">-->
<!--                  <div class="field">-->
<!--                    <label>Last Name</label>-->
<!--                    <div class="control">-->
<!--                      <input type="text" class="input" placeholder="Enter your last name"/>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
                <div class="column is-12">
                  <div class="field">
                    <label>아이디</label>
                    <div class="control">
                      <input type="text" class="input" id="signId" placeholder="아이디를 입력해주세요."/>
                    </div>
                  </div>
                </div>
                <div class="column is-12">
                  <div class="field">
                    <label>비밀번호</label>
                    <div class="control">
                      <input type="password" class="input" id="signPassword" placeholder="비밀번호는 영문,숫자,특수문자를 조합하여 8~20자리"/>
                    </div>
                  </div>
                </div>
                <div class="column is-12">
                  <div class="field">
                    <label>비밀번호 확인</label>
                    <div class="control">
                      <input type="password" class="input" id="signPasswordCheck" placeholder="비밀번호는 영문,숫자,특수문자를 조합하여 8~20자리"/>
                    </div>
                  </div>
                </div>
                <div class="column is-12">
                  <div class="field">
                    <label>이름</label>
                    <div class="control">
                      <input type="text" class="input" id="signName" placeholder="이름"/>
                    </div>
                  </div>
                </div>
                <div class="column is-12">
                  <div class="field">
                    <label>성별</label>
                    <div class="control">
                      <input type="text" class="input" id="signGender" placeholder="성별"/>
                    </div>
                  </div>
                </div>
                <div class="column is-12">
                  <div class="field">
                    <label>전화번호</label>
                    <div class="control">
                      <input type="text" class="input" id="signPhone" placeholder="전화번호"/>
                    </div>
                  </div>
                </div>
                <div class="column is-12">
                  <div class="field">
                    <label>이메일</label>
                    <div class="control">
                      <input type="text" class="input" id="signEmail" placeholder="이메일"/>
                    </div>
                  </div>
                </div>
                <div class="column is-12">
                  <div class="field is-flex">
                    <div class="switch-block">
                      <label class="f-switch">
                        <input type="checkbox" class="is-switch" />
                        <i></i>
                      </label>
                      <div class="meta">
                        <p>구독</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="buttons mt-2">
              <a class="button is-solid primary-button is-fullwidth raised signBtn">
                회원가입
              </a>
            </div>

            <div class="account-link has-text-centered">
              <a th:href="${urls.LOGIN_PAGE_MINIMAL}">
                로그인
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Concatenated js plugins and jQuery -->
<script src="/js/app.js"></script>
<script src="https://js.stripe.com/v3/"></script>

<!-- Core js -->
<script src="/js/global.js"></script>

<!-- Navigation options js -->
<script src="/js/navigation/navbar-v1.js"></script>
<script src="/js/navigation/navbar-v2.js"></script>
<script src="/js/navigation/navbar-mobile.js"></script>
<script src="/js/navigation/navbar-options.js"></script>
<script src="/js/navigation/sidebar-v1.js"></script>

<!-- Core instance js -->
<script src="/js/main.js"></script>
<script src="/js/pages/chat.js"></script>
<script src="/js/touch.js"></script>
<script src="/js/tour.js"></script>

<!-- Components js -->
<script src="/js/pages/explorer.js"></script>
<script src="/js/components/widgets.js"></script>
<script src="/js/components/modal-uploader.js"></script>
<script src="/js/components/popovers-users.js"></script>
<script src="/js/components/popovers-pages.js"></script>
<script src="/js/components/lightbox.js"></script>
<script src="/js/pages/feed.js"></script>
<script src="/js/components/webcam.js"></script>
<script src="/js/components/compose.js"></script>
<script src="/js/components/autocompletes.js"></script>
<script src="/js/pages/signup.js"></script>

<th:block th:fragment="scripts">
  <script th:inline="javascript">

  $('.signBtn').on('click', function() {

    console.log('signUp Start!!');

    var signInfo = {
        id : $('#signId').val(),
        password : $('#signPassword').val(),
        name : $('#signName').val(),
        gender : $('#signGender').val(),
        phone : $('#signPhone').val(),
        email : $('#signEmail').val()
    };

    console.log('회원가입 정보 = ' + signInfo);

    $.ajax({

      url: /*[[@{${urls.SIGN_ACTION}}]]*/ "",
      method: 'POST',
      dataType: 'json',
      contentType: 'application/json',
      data: JSON.stringify(signInfo),
      success: function() {
        location.href = [[@{${urls.MAIN_PAGE}}]];
      },
      error: function(err) {
        alert('문제가 발생하였습니다');
      }

    });

  });

  </script>
</th:block>

</body>
</html>



